/* ///////////////////////////////////////////////////////////////////
--- 01 TYPOGRAPHY  SYSTEM
    
-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

COLORS:

PRIMARY COLORS:
#282424

TINTS & SHADES:
#403c3c

TEXT COLOR:
#eee
#403c3c

/////////////////////////////////////////////////////////////////// */

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #282424;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #eee;
}
.container {
  width: 45%;
  margin: 2rem auto;
  background-color: #2e2e2f;
  padding-top: 5rem;
}
.grid {
  display: grid;
  gap: 4rem;
  justify-content: center;
}
.grid-rows--5 {
  grid-template-rows: auto auto 9rem 17rem auto;
}

/* MOVIE-SELECTION SECTION */

.movie-selection {
  display: flex;
  align-self: center;
  gap: 0.8rem;
}
.movie-selection select {
  display: block;
  height: 2.4rem;
  width: auto;
  text-align: center;
  padding: 0 1.2rem 0 1.2rem;
  appearance: none;
  color: #403c3c;
  border-radius: 0.4rem;
  border: none;
  font-family: inherit;
}

/* SCREEN INFO SECTION */
.screen-info {
  background-color: #403c3c;
  color: #686464;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.2rem 0;
}
.semi-circle {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}
.semi-circle--na {
  background-color: #686464;
}
.semi-circle--selected {
  background-color: #dd7230;
}
.semi-circle--occupied {
  background-color: #d0cccc;
}
.screen-content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* SCREEN */

.screen-parent {
  height: 100%;
  perspective: 600px;
}
.screen-child {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  background-color: #ffffff;
  /* transform: rotateX(-40deg); */
  transform: rotateX(-40deg) skewX(1deg);
  animation: glow 1.3s infinite ease-in-out;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 7px 13px #fff;
  }
  100% {
    box-shadow: 0px 0px 6px 13px #fff;
  }
}

/* Seats */
.seats {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.8rem;
}
.seat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.semi-circle--unoccupied {
  background-color: #6a994e;
}

/* TICKET INFORMATION SECTION */
.ticket-info {
  text-align: center;
  margin-top: 5rem;
}
.success {
  color: #6a994e;
}
.warning {
  color: #f84444;
  text-transform: uppercase;
  font-weight: 700;
}
